main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
}

input {
  width: 40px;
}

.banknoteContainer {
  display: flex;
  flex-direction: row;
}

.currencyContainer {
  display: flex;
  flex-direction: row;
}