main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  background-color: silver;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
}

.form-blue {
  background-image: url(./images/turtle.jpg);
  background-size: 170px;
  opacity: 0.8;
} 

.form-pink {
  background-image: url(./images/heron.jpg);
  background-size: 170px;
  opacity: 0.8;
}
.form-red {
  background-image: url(./images/macaw.jpg);
  background-size: 170px;
  opacity: 0.8;
}
.form-yellow {
  background-image: url(./images/tamarin.jpg);
  background-size: 170px;
  opacity: 0.8;
}
.form-beige {
  background-image: url(./images/Jaguar.jpg);
  background-size: 170px;
  opacity: 0.8;
}
.form-darkblue {
  background-image: url(./images/grouper.jpg);
  background-size: 170px;
  opacity: 0.8;
}
.form-grey {
  background-image: url(./images/wolf.jpg);
  background-size: 170px;
  opacity: 0.8;
}



input {
  width: 40px;
}

.banknoteContainer {
  display: flex;
  flex-direction: row;
}

.currencyContainer {
  display: flex;
  flex-direction: row;
}