.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
}

input {
  width: 40px;
}

.currencyContainer {
  display: flex;
  flex-direction: row;
}

.banknoteContainer {
  display: flex;
  flex-direction: row;
}

.green-text {
  background-color: rgb( 255, 255, 255, 0.4 );
  color: green;
}

.turtle {
  background-image: url(./images/turtle.png);
  background-size: cover;
} 

.heron {
  background-image: url(./images/heron.png);
  background-size: cover;
}
.macaw {
  background-image: url(./images/macaw.png);
  background-size: cover;
}
.tamarin {
  background-image: url(./images/tamarin.png);
  background-size: cover;
}
.jaguar {
  background-image: url(./images/Jaguar.png);
  background-size: cover;
}
.grouper {
  background-image: url(./images/grouper.png);
  background-size: cover;
}
.wolf {
  background-image: url(./images/wolf.png);
  background-size: cover;
}